<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCalendarsUsageDescription</key>
    <string>CakeLab needs calendar access to add delivery reminders for your orders.</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>CakeLab needs calendar access to add and update delivery reminders for your orders.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show nearby bakers</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to show nearby bakers</string>
</dict>
</plist>
