<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPeo5vvrSt282_8OD3Po_IPMFezYEx5Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>87076472407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vihanga.CakeLab-IOS</string>
	<key>PROJECT_ID</key>
	<string>cakelab-bc2f7</string>
	<key>STORAGE_BUCKET</key>
	<string>cakelab-bc2f7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87076472407:ios:456d6eff82fdc024eb4512</string>
</dict>
</plist>